framework:
    secret: '%env(APP_SECRET)%'
    http_method_override: false
    handle_all_throwables: true

    php_errors:
        log: true

    uid:
        default_uuid_version: 7
        time_based_uuid_version: 7

when@test:
    framework:
        test: true
        session:
            storage_factory_id: session.storage.factory.mock_file

