services:
  - type: web
    name: resell
    env: docker
    plan: free
    dockerfilePath: ./Dockerfile
    envVars:
      - key: APP_ENV
        value: prod
      - key: APP_SECRET
        generateValue: true
      - key: DATABASE_URL
        fromDatabase:
          name: resell-db
          property: connectionString
      - key: PORT
        value: 8080

databases:
  - name: resell-db
    databaseName: resell
    plan: free
    user: resell

