parameters:
    app_env: '%env(APP_ENV)%'

services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'

    # JWT Token Manager with secret from env
    App\Auth\Service\JwtTokenManager:
        arguments:
            $secret: '%env(APP_SECRET)%'

    # Exception listener for detailed error responses
    App\EventListener\ExceptionListener:
        arguments:
            $appEnv: '%app_env%'
        tags:
            - { name: kernel.event_listener, event: kernel.exception, priority: 100 }
