parameters:
    app_env: '%env(APP_ENV)%'
    env(SHOW_DETAILED_ERRORS): 'false'
    show_detailed_errors: '%env(bool:SHOW_DETAILED_ERRORS)%'

services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'

    # JWT Token Manager with secret from env
    App\Auth\Service\JwtTokenManager:
        arguments:
            $secret: '%env(APP_SECRET)%'

    # Exception listener for detailed error responses
    # Set SHOW_DETAILED_ERRORS=true in Render to see detailed errors in prod
    App\EventListener\ExceptionListener:
        arguments:
            $appEnv: '%app_env%'
            $showDetailedErrors: '%show_detailed_errors%'
        tags:
            - { name: kernel.event_listener, event: kernel.exception, priority: 100 }
