nelmio_api_doc:
    documentation:
        info:
            title: ReSell Auth Service API
            description: API for user authentication and registration
            version: 1.0.0
        servers:
            - url: /
              description: Current Server
        components:
            securitySchemes:
                Bearer:
                    type: http
                    scheme: bearer
                    bearerFormat: JWT
    areas:
        path_patterns:
            - ^/api/auth

