# This file is the entry point to configure your own services.
parameters:
    auth_service_url: '%env(AUTH_SERVICE_URL)%'
    listing_service_url: '%env(LISTING_SERVICE_URL)%'
    app_env: '%env(APP_ENV)%'
    show_detailed_errors: '%env(bool:default:false:SHOW_DETAILED_ERRORS)%'

services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'
            - '../src/Security/JwtUser.php'
            - '../src/DTO/'
            - '../src/Event/'

    # Event Listener - detailed error responses
    # Set SHOW_DETAILED_ERRORS=true in Render to see detailed errors in prod
    App\EventListener\ExceptionListener:
        arguments:
            $appEnv: '%app_env%'
            $showDetailedErrors: '%show_detailed_errors%'
        tags:
            - { name: kernel.event_listener, event: kernel.exception, priority: 100 }

    # Security
    App\Security\JwtTokenManager:
        public: true
        arguments:
            # JWT_SECRET must match auth-service's APP_SECRET
            $secret: '%env(JWT_SECRET)%'

    App\Security\JwtAuthenticator:
        arguments:
            $jwtTokenManager: '@App\Security\JwtTokenManager'

    App\Security\AuthenticationEntryPoint:
        public: true

    # External Clients
    App\Client\AuthClient:
        arguments:
            $authServiceUrl: '%auth_service_url%'

    App\Client\ListingClient:
        arguments:
            $listingServiceUrl: '%listing_service_url%'


