# This file is the entry point to configure your own services.
parameters:
    auth_service_url: '%env(AUTH_SERVICE_URL)%'
    listing_service_url: '%env(LISTING_SERVICE_URL)%'
    # Pusher configuration (optional - realtime disabled if not set)
    pusher_app_id: '%env(default::PUSHER_APP_ID)%'
    pusher_key: '%env(default::PUSHER_KEY)%'
    pusher_secret: '%env(default::PUSHER_SECRET)%'
    pusher_cluster: '%env(default::PUSHER_CLUSTER)%'

services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'
            - '../src/Security/JwtUser.php'
            - '../src/DTO/'
            - '../src/Event/'

    # Event Listener
    App\EventListener\ExceptionListener:
        tags:
            - { name: kernel.event_listener, event: kernel.exception, priority: 0 }

    # Security
    App\Security\JwtTokenManager:
        public: true
        arguments:
            # JWT_SECRET must match auth-service's APP_SECRET
            $secret: '%env(JWT_SECRET)%'

    App\Security\JwtAuthenticator:
        arguments:
            $jwtTokenManager: '@App\Security\JwtTokenManager'

    App\Security\AuthenticationEntryPoint:
        public: true

    # External Clients
    App\Client\AuthClient:
        arguments:
            $authServiceUrl: '%auth_service_url%'

    App\Client\ListingClient:
        arguments:
            $listingServiceUrl: '%listing_service_url%'

    # Realtime (Pusher)
    App\Realtime\PusherClient:
        arguments:
            $appId: '%pusher_app_id%'
            $key: '%pusher_key%'
            $secret: '%pusher_secret%'
            $cluster: '%pusher_cluster%'

